<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="32" package="com.takeabreak.PawnRaceMobile" android:installLocation="auto" android:versionName="0.96">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Pawn Race" android:icon="@drawable/icon"></application>
</manifest>